<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examplenavapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_bar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.ca-app-pub-6507171422391659~4678389761"
            android:value="true"/>

        <activity android:name=".CategoryLoadingScreen"></activity>
        <activity
            android:name=".CategoryLoading"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QuestionsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_bar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>